html {
    height: 100%;
}

body {
    background-image: linear-gradient(#e7edea,#c6cfe3);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container {
    margin: auto;
}

table {
    background-color: white;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    border-collapse: collapse;
    width: 100%;
    border-radius: 15px;
    overflow:hidden
}

th {
    font-size: 18px;
    text-align: left;
    padding: 20px 20px 20px 20px;
}

table,
td {
    padding: 8px 8px 8px 20px;
}

tr:nth-child(even) {
    background-color: #eff2f5;
}

tr:not(:first-child):hover {
    background-color: rgba(114, 114, 113, 0.2);
}

.collapsible {
    box-shadow: inset 0 3px 6px -3px rgba(0, 0, 0, .2);
    margin: 5%;
    margin-top: 10%;
    overflow: hidden;
    background-color: #f8f8f8;
}

.collapsible > div {
    margin: 5%;
}

.topbar {
    margin: 15px;
    margin-top: 5%;
}

.mt-5 {
    margin-bottom: 5%;
}